{% extends "poll_application/base.html" %}

{% block content %}
    <br>
    <br>
    <center>
        <div style="border:1px solid black" class="col-md-4">
        <br>
        <center>
            <form action="{% url 'sign-up' %}" method="POST">
                {% csrf_token %}
                {{error}}
                <p><input class="form-control" type="text" name="username" maxlength="150" autofocus="" required="" id="id_username" placeholder="Username"></p>
                <p><input class="form-control" type="text" name="first_name" maxlength="30" id="id_first_name" placeholder="First name"></p>
                <p><input class="form-control" type="text" name="last_name" maxlength="30" id="id_last_name" placeholder="Last name"></p>
                <p><input class="form-control" type="password" name="password1" required="" id="id_password1" placeholder="Password"></p>
                <p><input class="form-control" type="password" name="password2" required="" id="id_password2" placeholder="Password Confirmation"></p>
                    
                <button class="btn btn-primary">Sign Up</button>
            </form>
        </center>
        
    </div>
    </center>
        
{% endblock %}