{% load staticfiles %}
{% load static %}
<html>
<head>
    {% block title %}
    <title>Poll App</title>
    {% endblock %}

    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css'%}">

    <style>
    body {
        padding-top: 54px;
      }
      @media (min-width: 992px) {
        body {
          padding-top: 56px;
        }
      }
    {% block style %}
    {% endblock %}
    </style>
</head>
<body>
  {% include "poll_application/navbar.html" %}
  {% block content %}
  {% endblock %}
  {% block jscripts %}
  {% endblock %}

</body>
</html>