{% extends 'poll_application/base.html' %}
{% load static %}
{% block style %}
    label{
        padding-right:3%;
    }
    div #poll_home{
        padding: 3%;
        border-radius: 2%;
        background-color:lightblue;
    }
    div #poll_home:hover{
        box-shadow: 10px 10px 5px #888888;
    }
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-5"><br>
            <div class="container" style="position: fixed;width: 25%">
            {% if request.user.is_authenticated %}
                <br>
                <div style="padding:1%;background-color:lightgray;border-radius: 3%"><br>
                    <form id="add_question" action="{% url 'add_question'%}" method="POST" class="col-md-12 col-md-offset-8">
                        {% csrf_token %}
                        <input class="form-control" id="question" type="text" maxlength="255" placeholder="Question"><br>
                        <button class="btn btn-primary">Add</button>
                    </form>
                </div>
            {% else %}<br>
                <div style="padding:1%;background-color:lightgray;border-radius: 3%"><br>
                    <form action="{% url 'sign-in' %}" method="POST" class="col-md-12 col-md-offset-8">
                        {{ error }}
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username"></label>
                            <input type="text" name="username" placeholder="Username" class="form-control" autocomplete="off" id="username">
                        </div>
                        <div class="form-group">
                            <label for="password"></label>
                            <input type="password" name="password" placeholder="Password" class="form-control" id="password">
                        </div>
                        <button class="btn btn-primary">Sign In</button>
                    </form>
                </div>
                <br><br><br>
                <h5>Sign in to experience the full features of the app.</h5>
                {% endif %}
            </div>
        </div>
        <div class="col-md-6"><br>
            <h5>Polls</h5><br>
            <div class="container" id="question_set">
                {% for question in questions %}
                    <div id="poll_home">
                        <a class='list-group-item' id= {{question.pk}} href="{% url 'question' pk=question.pk %}" >{{question.question}}</a>
                        <ul class="list-group" id="choices" style="padding-top: 3%;padding-bottom: 3% ">
                            {% for choice in question.q_choice.all %}
                                <li class="list-group-item" id="lili">
                                <label>{{choice.choice_text}}</label>
                                </li>
                            {% endfor %}
                            {% if question.q_choice.count == 0 %}
                            <li class="list-group-item" id="lili">
                                <label> No choices </label>                
                            </li>
                        {% endif %}
                        </ul>
                    </div><br>
                {% endfor%}
                {% if not questions %}
                    <h5 id="nothing"> No Polls to display! </h5>
                {% endif%}
            </div>

        </div>
    </div>
</div>


{% endblock %}

{% block jscripts %}
    <script src= "{% static 'js/require.js'%}"></script>
    <script>
        require.config({
            baseUrl: "{% static 'js/' %}",
            paths:{
                'jquery':"{% static 'js/jquery'%}"
            }
        });
    </script>

    <script src= "{% static 'js/main.js'%}"></script>
{% endblock %}