    <!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home'%}">Poll Application</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        {% url 'home' as home %}
        {% url 'sign-up' as signup %}
        {% url 'sign-in' as signin %}
        <li {% if request.path == home %}class="nav-item active"{% else %} class="nav-item" {% endif %}>
          <a class="nav-link" href="{% url 'home' %}">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" {% if request.user.is_authenticated %} href="{% url 'profile' pk=request.user.pk %} {% endif %}">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">_________</a>
        </li>
        {% if request.user.is_authenticated%}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'sign-out' %}">Sign out</a>
          </li>
        {% else %}
          <li {% if request.path == signup %}class="nav-item active"{% else %} class="nav-item" {% endif %}>
            <a class="nav-link" href="{% url 'sign-up' %}">Register</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
