{% extends 'poll_application/base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            
        </div>
        <div class="col-md-4">
            <br>
            <a class='list-group-item' href='#'>{{question.question}}</a>
            <input type="hidden" id="question_pk" value={{question.pk}} />
            <br>
                <form class="vote_form" action="{% url 'vote' %}" method="POST" style="padding-bottom: 3%">
                    {% csrf_token %}
                    <ul class="list-group" id="choices" style="padding-top: 3%;padding-bottom: 3% ">
                        {% for choice in question.q_choice.all %}
                            <li class="list-group-item" id="lili">
                                {% if request.user.is_authenticated %}
                                <input type="radio" name="choice" value={{choice.pk}} />
                                {% endif %}
                            <label>{{choice.choice_text}}</label>
                            {% if status == 'alreadyvoted' %}({{choice.votes}} vote(s)){% endif %}<br>
                            </li>
                        {% endfor %}
                        
                    </ul>
                    {% if request.user.is_authenticated and status != 'alreadyvoted'%}
                        <button id="button_vote" class="btn btn-primary"> Vote </button>
                    {% endif %}
                    {% if status == 'alreadyvoted' %}
                        You already voted!
                    {% endif %}
                </form>
                {% if request.user == question.q_owner %}
                    <a class="btn btn-primary" href="{% url 'remove' pk=question.pk %}">Remove</a>
                {% endif %}
            <br><br>
            {% if question.q_owner == request.user %}
            <form id="add_choice" action="{% url 'add_choice' %}" method="POST">
                {% csrf_token %}
                <input id="question_pk" type="hidden" value="{{question.pk}}">
                <input class="form-control" id="choice" type="text" maxlength="255" placeholder="Choice" >
                <br>
                <button id="button_add_choice" class="btn btn-primary"> Add </button>
            </form>
            {% endif %}
        </div>
        <div class="col-md-4">
            
        </div>
    </div>
    
{% endblock %}

{% block jscripts %}
    <script src= "{% static 'js/require.js'%}"></script>
    <script>
        require.config({
            baseUrl: "{% static 'js/' %}",
            paths:{
                'jquery':"{% static 'js/jquery'%}"
            }
        });
    </script>
    <script src= "{% static 'js/main.js'%}"></script>
{% endblock %}